
		<!-- Footer -->
        <footer id="footer">
            <div class="inner">
                <h2>Get In Touch</h2>
                <ul class="actions">
                    <li><span class="icon fa-phone"></span> +91 9876543210</li>
                    <li><span class="icon fa-envelope"></span> fresco@thapar.edu</li>
                    <li><span class="icon fa-map-marker"></span> Thapar Institute, Patiala 147001</li>
                </ul>
                <div">
                    <ul class="actions">
                        <li><a href="/contactus" class="button">Contact US</a></li>
                    </ul>
                </div>
            </div>
            <div class="copyright">
                &copy; Tech Wizards
            </div>
        </footer>

    <!-- Scripts -->
        <script src="assets/js/jquery.min.js"></script>
        <script src="assets/js/jquery.scrolly.min.js"></script>
        <script src="assets/js/skel.min.js"></script>
        <script src="assets/js/util.js"></script>
        <script src="assets/js/main.js"></script>
        <script src="assets/js/bootstrap.js"></script>
</body>
</html>