<!DOCTYPE HTML>
<html>
	<head>
		<title>FRESCO</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<link rel="stylesheet" href="assets/css/bootstrap.css" />
		<link rel="stylesheet" href="assets/css/main.css" />
	</head>
	<body>

		<!-- Header -->
			<header id="header">
				<nav class="left">
					<a href="#menu"><span>Menu</span></a>
				</nav>
				<a href="/" class="logo">fresco</a>
				<nav class="right">
					<% if(!currentUser){ %>
						<a href="/login" class="button alt">Log in</a>
					<% }else { %>
						<a href="/profile" class="button alt"><%= currentUser.name %></a>
						<a href="/logout" class="button alt">Logout</a>
					<% } %>
				</nav>
			</header>

		<!-- Menu -->
			<nav id="menu">
				<ul class="actions vertical">
					<% if(!currentUser){ %>
						<% }else { %>
							<li><a href="/profile" class="button small"><%= currentUser.name %></a></li>
						<% } %>
				</ul>
				<ul class="links">
					<li><a href="/">Home</a></li>
					<li><a href="/profile">Profile</a></li>
					<li><a href="/orders">View Orders</a></li>
					<li><a href="/accept">Accept</a></li>
					<li><a href="/donate">Donate</a></li>
					<li><a href="/map">Map</a></li>
					<li><a href="/cos">COS</a></li>
					<li><a href="/transport">Transport</a></li>					
				</ul>
				<ul class="actions vertical">
					<% if(!currentUser){ %>
						<li><a href="/login" class="button fit">Login</a></li>
					<% }else { %>
						<li><a href="/logout" class="button fit">Logout</a></li>
					<% } %>
				</ul>
			</nav>
