<%- include('partials/header'); -%>
			<section id="banner">
				<div class="content">
					<h1>Donation System</h1>
					<p>Do you want to <br />Accept or Donate?</p>
					<ul class="actions vertical">
						<li><a href="/accept" class="button scrolly">Accept</a></li>
						<li><a href="/donate" class="button scrolly">Donate</a></li>
					</ul>
				</div>
			</section>

			<section id="three" class="wrapper">
				<div class="inner flex flex-3">
					<div class="flex-item box">
						<div class="content align-center">
							<h1>Map</h1>
							<p>View map of the Institute<br />to map your way</p>
							<ul class="actions">
								<li><a href="/map" class="button">View</a></li>
							</ul>
						</div>
					</div>
					<div class="flex-item box">
						<div class="content align-center">
							<h1>COS</h1>
							<p>View details of outlets<br />available in the campus</p>
							<ul class="actions">
								<li><a href="/cos" class="button">View</a></li>
							</ul>
						</div>
					</div>
					<div class="flex-item box">
						<div class="content align-center">
							<h1>Transport</h1>
							<p>View the driver's details<br />to book your ride</p>
							<ul class="actions">
								<li><a href="/transport" class="button">View</a></li>
							</ul>
						</div>
					</div>
				</div>
			</section>
<%- include('partials/footer'); -%>