<%- include('partials/header'); -%>

<section id="main" class="wrapper">
    <div class="inner">
        <header class="align-center">
            <h1>Map</h1>
            <p>Map your way</p>
        </header>
        <div class="image fit">
            <img src="images/map.jpg" alt="" />
        </div>
    </div>
</section>

<%- include('partials/footer'); -%>